*{
    margin: 0;
    padding: 0;
}
.sidebar{
    background-color: rgb(132, 130, 130);
    width: 400px;
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.sidebar nav{
    padding: 38px;
}
.sidebar nav li{
    list-style: none;
    font-size: 20px;
    padding: 26px 0px;
}
.sidebar nav li a{
    text-decoration: none;
    color: white;
}
.sidebargo{
    transform: translate(-443px 0px);
    position: absolute;
}
 .menu {
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
} 
.main{
    /* background-color: yellow; */
    width: 88vw;

}
.container{
    display: flex;
}
.infocontainer{
    /* background-color: aqua; */
    height: 45vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}
.devinfo{
    display: flex;
    height: 45vh;
    justify-content: center;
    flex-direction: column;
}
.hello{
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
}
.about{
    font-size: 30px;
}
.name{
    font-size: 52px;
    font-family: cursive;
}
.buttons{
    margin-top: 24px;
}
.buttons button{
     padding: 9px 14px;
     border-radius: 22px;
     color: white;
     background-color: aquamarine;
     font-weight: bold;
     font-size: 17px;
     margin: 0 3px;
     cursor: pointer;
}
.buttons button:hover{
    background-color: white;
    color: aquamarine;
}
.devpic img{
    height: 45vh;
}