html,body {
    height: 100%;
    width: 100%;
}
.button{
    height: 13px;
    width: 12px;
    padding: 20px;
    margin: 0 3px;
    border: 2px black;
    border-radius: 3px;
    cursor: pointer;
}
.row{
    margin: 4px 0;
}
.display input{
    font-size: 12px;
    margin: 0;
    padding: 10px 20px;
    border: 3px solid black;
}